<div class="sidebar" th:fragment="frg-employee-sidebar">
	<nav class="nav flex-column mt-5">
		<h5 class="text-white ms-3 mb-5" th:text="'Welcome : ' + ${sessionEmp.ename} "> </h5>

		<a href="/employeeProfile" class="nav-link">
			<i class="bi bi-person-circle"></i>
			<span class="ms-2">My Profile</span>
		</a>

		<a href="/sellCourse" class="nav-link">
			<i class="bi bi-cart-check"></i>
			<span class="ms-2">sell course</span>
		</a>

		<a href="/inqueryManagement" class="nav-link">
			<i class="bi bi-chat-dots"></i>
			<span class="ms-2">Inquiry Management</span>
		</a>

		<a href="#" class="nav-link">
			<i class="bi bi-telephone-forward"></i>
			<span class="ms-2">Follow-Ups</span>
		</a>

		<a href="/employeeLogout" class="nav-link">
			<i class="bi bi-box-arrow-right"></i>
			<span class="ms-2">Logout</span>
		</a>
	</nav>
</div>